@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  background-color: #000000;
  font-family: "Montserrat", sans-serif;
}

* {
  margin: 0;
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%;
}

.react-player {
  top: 0;
  left: 0;
  position: absolute;
}

.react-player video {
  position: relative;
  left: 0;
  top: 0;
  transform: none;
}
